<div class="screen">スクリーン1</div>
<div class="sheets">
  <div>
    <table>
      <tr>
        <th></th>
        <% @columns.each do |column| %>
          <th><%= column %></th>
        <% end %>
        <th></th>
      </tr>
      <% @rows.each do |row| %>
        <tr>
          <th><%= row %></th>
          <% @columns.each do |column| %>
            <% sheet = @sheets.find { |s| s.column == column && s.row == row } %>
            <td><%= sheet ? "⚪︎" : "" %></td>
          <% end %>
          <th><%= row %></th>
        </tr>
      <% end %>
    </table>
  </div>
</div>
