// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.screen {
  text-align: center;
}
.sheets {
  text-align: center;
  table {
    width: 80%;
    margin: 0 auto;
  }
}
